set_io osc_12M 20

set_io jumpForwardIn    28
set_io jumpBackwardIn   36
set_io jumpRightIn      34
set_io jumpLeftIn       31

set_io audioOut         11

set_io HSYNC   46
set_io VSYNC   2

set_io color[5] 44
set_io color[4] 4
set_io color[3] 3
set_io color[2] 48
set_io color[1] 45
set_io color[0] 47